body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

header .logo{
  width: 150px;
  height: auto;
}

.profile-dropdown .greet-user .dropdown-item{
  color: rgb(255, 230, 2);
  pointer-events: none;
}

.profile-dropdown .dropdown-item{
  color: #fff;
}

.profile-dropdown .dropdown-divider {
  color: #fff;
}

.profile-dropdown .dropdown-item:focus, .profile-dropdown .dropdown-item:hover{
  color: #fff;
  background-color: black;
}

.logout .dropdown-item:focus, .logout .dropdown-item:hover {
  background-color: #ff411b;
}

/* Login Form */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Course */
.course-thumbnail{
  width: 200px;
  height: 100%;
}

/* Lesson React Video Player */
.player-wrapper {
  position: relative;
  /* padding: 10px; */
  padding-top: 56.25%;
}
/* Player ratio: 100 / (1280 / 720) */

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}